<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1><%= title %></h1>
    <form action="/get-balance/balance" method="POST">
        <input type="text" name="address" id="address" placeholder=" Enter the Address to Find the Balance ?" size="40"><br><br>
        <input type="submit" value="Get Balance">
    </form>
</body>

</html>