<div class="py-5">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card text-center rounded">
        <div class="card-header">
          <h5><strong>DOCTOR ACCOUNTS</strong></h5>
        </div>
        <div *ngIf="!isAvailable">
          <p class="text-danger">THERE IS NO DOCTOR ACCOUNTS AVAILABLE.</p>
        </div>
        <div class="card-body" *ngIf="isAvailable">
          <div class="table-responsive">
            <table class="table table-bordered table-md">
              <thead class="bg-primary text-light">
                <tr>
                  <th>DOCTOR ID</th>
                  <th>NAME</th>
                  <th>CURRENT HOSPITAL</th>
                  <th>ACTIONS</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let doctor of doctorsList">
                  <td>{{ doctor['doctorId'] }}</td>
                  <td>{{ doctor['doctorName'] }}</td>
                  <td>{{ doctor['currentHospital'] }}</td>
                  <td>
                    <a class="btn btn-success mr-1" [routerLink]="['/doctor', doctor['doctorId']]">CHECK DETAILS</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>