<div class="container row mt-5 ml-5 d-flex align-items-center justify-content-center">
  <div class="col-lg-4 col-md-6 mx-auto">
    <div class="card text-center border-primary rounded my-3">
      <h5 class="card-header border-primary bg-primary text-light"><strong>DOCTOR ACTIVITY</strong></h5>
      <div class="card-body">
        <p class="card-title">FOR VACCINATING A DOG, CLICK</p>
        <a [routerLink]="['/vaccinate-dog', userId]" class="btn btn-primary">HERE</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 mx-auto">
    <div class="card text-center border-primary rounded my-3">
      <h5 class="card-header border-primary bg-primary text-light"><strong>DOCTOR ACTIVITY</strong></h5>
      <div class="card-body">
        <p class="card-title">FOR TREATMENT OF A DOG, CLICK</p>
        <a [routerLink]="['/treat-dog', userId]" class="btn btn-primary">HERE</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 mx-auto">
    <div class="card text-center border-primary rounded my-3">
      <h5 class="card-header border-primary bg-primary text-light"><strong>DOCTOR ACTIVITY</strong></h5>
      <div class="card-body">
        <p class="card-title">FOR COMPLETE LIST OF VACCINATED DOGS, CLICK</p>
        <a [routerLink]="['/total-vaccinated-dogs', userId]" class="btn btn-primary">HERE</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 mx-auto">
    <div class="card text-center border-primary rounded my-3">
      <h5 class="card-header border-primary bg-primary text-light"><strong>DOCTOR ACTIVITY</strong></h5>
      <div class="card-body">
        <p class="card-title">FOR COMPLETE LIST OF TREATED DOGS, CLICK</p>
        <a [routerLink]="['/total-treated-dogs', userId]" class="btn btn-primary">HERE</a>
      </div>
    </div>
  </div>
</div>