<div class="container row mt-5 ml-5 d-flex align-items-center justify-content-center">
  <div class="col-lg-4 col-md-6 mx-auto">
    <div class="card text-center border-primary rounded my-3">
      <h5 class="card-header border-primary bg-primary text-light"><strong>BREEDER ACTIVITY</strong></h5>
      <div class="card-body">
        <p class="card-title">FOR DOG'S BIRTH REGISTRATION, CLICK</p>
        <a [routerLink]="['/dog-birth-registration', userId]" class="btn btn-primary">HERE</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 mx-auto">
    <div class="card text-center border-primary rounded my-3">
      <h5 class="card-header border-primary bg-primary text-light"><strong>BREEDER ACTIVITY</strong></h5>
      <div class="card-body">
        <p class="card-title">FOR OWNERSHIP TRANSFER OF DOG, CLICK</p>
        <a [routerLink]="['/dog-ownership-transfer', userId]" class="btn btn-primary">HERE</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 mx-auto">
    <div class="card text-center border-primary rounded my-3">
      <h5 class="card-header border-primary bg-primary text-light"><strong>BREEDER ACTIVITY</strong></h5>
      <div class="card-body">
        <p class="card-title">FOR COMPLETE LIST OF YOUR DOGS, CLICK</p>
        <a [routerLink]="['/total-dogs', userId]" class="btn btn-primary">HERE</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 mx-auto">
    <div class="card text-center border-primary rounded my-3">
      <h5 class="card-header border-primary bg-primary text-light"><strong>BREEDER ACTIVITY</strong></h5>
      <div class="card-body">
        <p class="card-title">FOR COMPLETE LIST OF YOUR SOLD DOGS, CLICK</p>
        <a [routerLink]="['/sold-dogs', userId]" class="btn btn-primary">HERE</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 mx-auto">
    <div class="card text-center border-primary rounded my-3">
      <h5 class="card-header border-primary bg-primary text-light"><strong>BREEDER ACTIVITY</strong></h5>
      <div class="card-body">
        <p class="card-title">FOR COMPLETE LIST OF YOUR CURRENT DOGS, CLICK</p>
        <a [routerLink]="['/current-dogs', userId]" class="btn btn-primary">HERE</a>
      </div>
    </div>
  </div>
</div>