<div class="py-5">
  <div class="row">
    <div class="col-md-9 mx-auto">
      <!-- <span class="anchor" id="loginForm"></span> -->

      <div class="card text-center rounded">
        <div class="card-header">
          <div class="mb-0">
            <h5><strong>OWNERSHIP TRANSFER</strong></h5>
          </div>
        </div>
        <div class="card-body" *ngIf="hasAlreadyApplied">
          <p class="text-danger">This dog's ownership is already submitted for transfer. Please check with another dog, or try after rejecting this dog's current application.</p>
        </div>
        <div class="card-body" *ngIf="!hasAlreadyApplied">
          <form class="form" [formGroup]="ownershipTransferForm" (ngSubmit)="transferOwnership()">
            <div class="form-group row">
              <label for="newOwnerId" class="col-md-2 pt-1">New Owner's ID</label>
              <input type="text" [class.is-invalid]="ownershipTransferForm.get('newOwnerId').invalid && ownershipTransferForm.get('newOwnerId').touched" class="form-control rounded-0 col-md-9" formControlName="newOwnerId" name="newOwnerId">
              <div class="float-center" *ngIf="ownershipTransferForm.get('newOwnerId').invalid && ownershipTransferForm.get('newOwnerId').touched">
                <small *ngIf="ownershipTransferForm.get('newOwnerId').errors?.required" class="text-danger">Please enter ID of the new owner</small>
                <small *ngIf="ownershipTransferForm.get('newOwnerId').errors?.pattern" class="text-danger">Enter correct ID of the new owner</small>
              </div>
            </div>
            <div class="form-group mb-0">
              <button type="submit" [disabled]="ownershipTransferForm.invalid" class="btn btn-primary float-center">TRANSFER OWNERSHIP</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>