<div class="py-5">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <div class="card text-center rounded">
        <div class="card-header">
          <h5><strong>UNAPPROVED DOG BIRTH REGISTRATIONS</strong></h5>
        </div>
        <div class="card-body">
          <div *ngIf="!isAvailable">
            <p class="text-danger">THERE IS NO DOG BIRTH REGISTRATIONS TO APPROVE.</p>
          </div>
          <div class="table-responsive" *ngIf="isAvailable">
            <table class="table table-bordered table-md">
              <thead class="bg-primary text-light">
                <tr>
                  <th>DOG ID</th>
                  <th>DOG NAME</th>
                  <th>BREED</th>
                  <th>COLOUR</th>
                  <th>SEX</th>
                  <th>DATE OF BIRTH</th>
                  <th>FATHER ID</th>
                  <th>MOTHER ID</th>
                  <th>BREEDER ID</th>
                  <th>ACTIONS</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let birthRegistration of birthRegistrations">
                  <td>{{ birthRegistration['dogId'] }}</td>
                  <td>{{ birthRegistration['dogName'] }}</td>
                  <td>{{ birthRegistration['breed'] }}</td>
                  <td>{{ birthRegistration['colour'] }}</td>
                  <td>{{ birthRegistration['sex'] }}</td>
                  <td>{{ birthRegistration['dob'] }}</td>
                  <td>{{ birthRegistration['fatherId'] }}</td>
                  <td>{{ birthRegistration['motherId'] }}</td>
                  <td>{{ birthRegistration['breederId'] }}</td>
                  <td>
                    <a class="btn btn-success mr-1" [routerLink]="['/approve-dog-birth-registration', birthRegistration['dogId']]">APPROVE</a>
                    <a class="btn btn-danger ml-1" [routerLink]="['/delete-dog-birth-registration', birthRegistration['dogId']]">DELETE</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>