<div class="py-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card text-center rounded">
        <div class="card-header">
          <div class="mb-0" *ngIf="!isAvailable">
            <h5><strong>DOG DETAILS NOT AVAILABLE.</strong></h5>
          </div>
          <div class="mb-0" *ngIf="isAvailable">
            <h5><strong>{{dogDetails['dogName']}}</strong></h5>
          </div>
        </div>
        <div class="card-body" *ngIf="isAvailable">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">ID : {{dogId}}</li>
            <li class="list-group-item">BREED : {{dogDetails['breed']}}</li>
            <li class="list-group-item">COLOUR : {{dogDetails['colour']}}</li>
            <li class="list-group-item">SEX : {{dogDetails['sex']}}</li>
            <li class="list-group-item">DATE OF BIRTH : {{dogDetails['dob']}}</li>
            <li class="list-group-item">AGE : {{dogDetails['ageInYears']}} years and {{dogDetails['ageInMonths']}} months.</li>
            <li class="list-group-item">FATHER ID : {{dogDetails['fatherId']}}</li>
            <li class="list-group-item">FATHER NAME : {{dogDetails['fatherName']}}</li>
            <li class="list-group-item">MOTHER ID : {{dogDetails['motherId']}}</li>
            <li class="list-group-item">MOTHER NAME : {{dogDetails['motherName']}}</li>
            <li class="list-group-item">BREEDER ID : {{dogDetails['breederId']}}</li>
            <li class="list-group-item">OWNER ID : {{dogDetails['ownerId']}}</li>
          </ul>          
        </div>
        <div class="card-footer">
          <p class="text-muted">For vaccination records, click <a [routerLink]="['/dog-vaccination', dogId]">here</a></p>
          <p class="text-muted">For treatment records, click <a [routerLink]="['/dog-treatment', dogId]">here</a></p>
        </div>
      </div>
    </div>
  </div>
</div>