<div class="py-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card text-center rounded">
        <div class="card-header">
          <div class="mb-0" *ngIf="!isAvailable">
            <h5><strong>DOG DETAILS NOT AVAILABLE.</strong></h5>
          </div>
          <div class="mb-0" *ngIf="isAvailable">
            <h5><strong>{{dogDetails['dogName']}}</strong></h5>
          </div>
        </div>
        <div class="card-body table-responsive" *ngIf="isAvailable">
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th scope="col">FIELD</th>
                <th scope="col">VALUE</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>DOG ID</td>
                <td>{{dogId}}</td>
              </tr>
              <tr>
                <td>BREED</td>
                <td>{{dogDetails['breed']}}</td>
              </tr>
              <tr>
                <td>COLOUR</td>
                <td>{{dogDetails['colour']}}</td>
              </tr>
              <tr>
                <td>SEX</td>
                <td>{{dogDetails['sex']}}</td>
              </tr>
              <tr>
                <td>DATE OF BIRTH</td>
                <td>{{dogDetails['dob']}}</td>
              </tr>
              <tr>
                <td>AGE</td>
                <td>{{dogDetails['ageInYears']}} years and {{dogDetails['ageInMonths']}} months.</td>
              </tr>
              <tr>
                <td>FATHER ID</td>
                <td>{{dogDetails['fatherId']}}</td>
              </tr>
              <tr>
                <td>FATHER NAME</td>
                <td>{{dogDetails['fatherName']}}</td>
              </tr>
              <tr>
                <td>MOTHER ID</td>
                <td>{{dogDetails['motherId']}}</td>
              </tr>
              <tr>
                <td>MOTHER NAME</td>
                <td>{{dogDetails['motherName']}}</td>
              </tr>
              <tr>
                <td>BREEDER ID</td>
                <td>{{dogDetails['breederId']}}</td>
              </tr>
              <tr>
                <td>OWNER ID</td>
                <td>{{dogDetails['ownerId']}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <p class="text-muted">For dog's vaccination records, click <a [routerLink]="['/dog-vaccination', dogId]">here</a></p>
          <p class="text-muted">For dog's treatment records, click <a [routerLink]="['/dog-treatment', dogId]">here</a></p>
        </div>
      </div>
    </div>
  </div>
</div>